main {
  width: 100vw;
  height: 100vh;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Weather Img */
.Clouds {
  background-image: url(../img/clouds.jpg);
}
.Clear {
  background-image: url(../img/clear.jpg);
}
.Rain {
  background-image: url(../img/rain.jpg);
}
.Mist {
  background-image: url(../img/mist.jpg);
}
